*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.hidden{
    display: none;
}

.container {
    margin: 0 auto;
    height: 100%;
}

#login {
    gap: 15px;
}

#message-input {
    resize: none;
    width: 100%;
}

.hedline-login {
    color: var(--bs-dark-bg-subtle);
}

.textarea-form {
    /* border: 1px solid var(--bs-primary-border-subtle); */
    outline: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   
}

.textarea-form:focus {
    border: var(--bs-border-width) solid var(--bs-primary-border-subtle);
    border-radius: var(--bs-border-radius);
    transition: var(--bs-primary-border-subtle) .15s ease-in-out,box-shadow .15s ease-in-out;
}
